html {
    scroll-behavior: smooth;
  }
  * {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-size: 15px;
  }
  button {
    cursor: pointer;
  }
  body {
    margin: 0px;
    padding: 0px;
    font-family: "Space Mono", "Muli", sans-serif;
  }
  a {
    text-decoration: none;
    color: none;
  }
  textarea:focus, input:focus{
    outline: none;
  }
  p {
    margin: 0px;
  }
  li {
    list-style: none;
  }
  #header {
    position: fixed;
    top: 0px;
    width: 100%;
    background:  #FF6D00;
    height: 50px;
    display: flex;
  }
  #headerProfile {
    position: fixed;
    top: 0px;
    width: 100%;
    background:  #FF6D00;
    height: 50px;
    display: flex;
  }
  #headerProfile .bars {
    flex: 1.6;
    color: #fff;
  }
  #headerProfile .searchArea {
    flex: 1.4;
    font-size: 20px;
    color: #fff;
  }
  #headerProfile .searchArea h1{
    padding-top: 10px;
    font-size: 22px;
  }
  #headerProfile .fa-bars {
    font-size: 20px;
    padding: 10px;
  }
  #header .bars {
    flex: 1.7;
    color: #fff;
  }
  #header .searchArea {
    flex: 2;
    font-size: 20px;
    color: #fff;
  }
  #header .searchArea h1{
    padding-top: 10px;
    font-size: 18px;
  }
  #header .fa-bars {
    font-size: 20px;
    padding: 10px;
  }
  #header .searchArea .fa-search{
    font-size: 20px;
    margin-top: 10px;
    color: #fff;
  }
  #header .searchArea input{
    background: transparent;
    padding: 0 10px;
    line-height: 30px;
    font-size: 15px;
    border: 1px solid #e6e6e6;
    border-radius: 30px; 
    width: 90%;
    transition: all 0.5s ease-in-out
  }
  #header .searchArea input:hover{
    background: #F4F6F9;
  }
  #sidenav::-webkit-scrollbar { 
    display: none;
}
  #sidenav {
    background: #fff;
    position: fixed;
    overflow-y: scroll;
    top: 0;
    left: 0;
    bottom: 0;
  }
  #overlay2 {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 172px;
    right: 0;
    bottom: 0;
    background-color: #A9A9A9;
    z-index: 2;
    opacity: 0.9;
    cursor: pointer;
  }
  #sidenav .fa-times {
    display: none;
    color: red;
    float: right;
    font-size: 20px;
    margin: 10px;
    transition: all 0.3s ease-in-out;
  }
  #sidenav .fa-times:hover {
    color: #a9a9a9;
    transform: scale(0.9, 0.9);
  }
  #sidenav .topic a{
    color: #002f4b;
    font-size: 22px;
  }
  #sidenav .topic {
    color: #002f4b;
    font-family: "Space Mono";
    font-size: 22px;
    display: flex;
    justify-content: center;
    margin-top: 10px;
    height: 90px;
  }
  #sidenav nav a {
    display: block;
    text-decoration: none;
    color: #002f4b;
    font-size: 15px;
    margin-bottom: 10px;
    padding: 15px 30px;
    font-weight: 300;
    transition: all 0.3s ease-in-out;
  }  
  #sidenav nav a:hover {
    background: #FF6D00;
    border-left: 5px solid #92cf48;
    padding: 15px 30px 15px 25px;
  }  
  #sidenav nav a:hover i {
    color: #002f4b;
  }  
  #sidenav nav {
    padding-top: 10px;
    display: flex;
    flex-direction: column;
  }  
  #sidenav nav .active {
    background: #FF6D00;
    border-left: 5px solid #92cf48;
    padding: 15px 30px 15px 25px;
  }  
  #sidenav nav .active i {
    color: #002f4b;
  }  
  #sidenav nav i {
    margin-right: 0.8rem;
    color: #FF6D00;
    font-size: 1.4rem;
    display: inline-block;
    width: 30px;
    position: relative;
    top: 3px;
  }
  #group{
    margin: 5px 0px 0px 186px;
  }
  #group li{
    display: flex;
    padding: 10px;
    line-height: 50px;
    border: 1px solid #e6e6e6;
    border-bottom-width: 1.5px;
    cursor: pointer;
  }
  #group li .details{
    flex: 1;
    display: flex;
    height: 50px;    
    overflow: hidden;
    color: black;
  }
  #group li .details .content{
    font-size: 13px;
  }
  #group li .details .userName{
    font-weight: bold;
    padding-right: 10px;
  }
  #group li .icon{
    display: flex;
    margin: 20px 5px;
  }
  #group li .icon i{
    font-size: 17px
  }
  #group li .icon div{
    padding-right: 10px;
  }
  #group li .icon .fa-trash-alt{
    color: #FF6D00;
  }
  #group li .icon .tips{
    position: relative;
  }
  #text .subject .tips i{
    font-size: 20px;
  }
  
  #group li .icon .tips .tipstext {
    visibility: hidden;
    padding: 3px;
    background-color: #002f4b;
    color: #FF6D00;
    text-align: center;
    border-radius: 6px;
    font-size: 13px;
    position: absolute;
    z-index: 1;
    top: 100%;
    left: 50%;
    margin-left: -60px;
  } 
  #group li .icon .tips:hover .tipstext {
    visibility: visible;
  }
  #output{
    margin: 55px 0px 0px 200px;
  }
  #overlay {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
    z-index: 2;
    cursor: pointer;
  }  
  #text{
    position: absolute;
    width: auto;
    height: 500px;
    line-height: 30px;
    top: 50%;
    left: 50%;
    color: black;
    transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    background: white;
    box-shadow: 0 5px 15px rgb(0, 0, 0, 0.25);
    border-radius: 5px;
    padding: 10px;
    overflow-y: scroll;
  }
  #text .header{
    display: flex;
  }
  #text .header h4{
    flex: 1;
    font-size: 20px;
  }
  #text .subject{
    display: flex;
    font-size: 20px;
  }
  #text .subject .fa-trash{
    color: #FF6D00;
  }
  #text .subject h5{
    flex: 1;
    font-size: 15px;
  }
  #text .subject div{
    margin-left: 20px;
  }
  #text .subject .tips{
    position: relative;
  }
  #text .subject .tips i{
    font-size: 20px;
  }
  #text .subject .tips .tipstext {
    visibility: hidden;
    padding: 3px;
    background-color: #002f4b;
    color: #FF6D00;
    text-align: center;
    border-radius: 6px;
    font-size: 13px;
    position: absolute;
    z-index: 1;
    top: 100%;
    left: 50%;
    margin-left: -60px;
  }  
  #text .subject .tips:hover .tipstext {
    visibility: visible;
  }
  #state{
    margin: 70px 0px 0px 186px;
  }
  #state  .container .card button{
    color: #fdf9f8;
    border: 2px solid #FF6D00;
    background: #FF6D00;
    width: 200px;
    padding: 5px 0;
    margin-bottom: 0px;
  }
  
  #state  .container{
    display: flex;
    flex-direction: column;
  }
  #state  .container .card{
    padding: 10px;
    line-height: 30px;
    border: 1px solid #e6e6e6;
    border-bottom-width: 1px;
  }
  #profile{
    margin: 70px 0px 0px 186px;
  }
  #profile button{
    display: flex;
    justify-content: center;
    color: #fdf9f8;
    border: 2px solid #FF6D00;
    background: #FF6D00;
    width: 200px;
    padding: 5px 0;
    margin-bottom: 0px;
  }  
  #profile  .container{
    display: flex;
    flex-direction: column;
  }
  #profile  .container .card{
    padding: 10px;
    line-height: 30px;
    border: 1px solid #e6e6e6;
    border-bottom-width: 1px;
  }
  #profile  .container .card .userimg{
    display: flex;
    justify-content: center;
  }
  #profile  .container .card .user{
    display: flex;
  }
  #profile  .container .card .user i{
  color: #FF6D00;
  padding: 20px;
  }
  #profile  .container .card .user span{
    padding: 17px 0;
  }
  #profile  .container .card .userimg img {
    margin: 10px auto 0 auto;
    width: 150px;
    border-radius: 50%;
    height: 150px;
  }
  #password .formLogo{
    display: flex;
    justify-content: center;
    padding: 10px 0px;
    font-size: 20px;
  }
  #password  .formLogo h2 {
    font-size: 20px;
    color: #FF6D00;
  }
  #password .formGroup {
    display: flex;
    justify-content: center;
    margin: 20px;
  }
  #password input {
    width: 655px;
    padding: 0 20px;
    text-decoration: none;
    line-height: 50px;
    font-size: 15px;
    border: 1px solid #e6e6e6;
    border-bottom-width: 3px;
  }
  #password .submitForm{
    display: flex;
    justify-content: center;
  }
  #password .submitForm button {
    color: #fdf9f8;
    border: 2px solid #FF6D00;
    background: #FF6D00;
    width: 200px;
    padding: 5px 0;
    margin-bottom: 0px;
    transition: all 0.5s ease-in-out;
  }
  #password .submitForm button:hover{
    background: transparent;
    color: #FF6D00;
    transform: scale(0.9, 0.9);
  }
  #createGroup{
    position: absolute;
    width: auto;
    height: 370px;
    line-height: 30px;
    top: 50%;
    left: 50%;
    color: black;
    transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    background: white;
    box-shadow: 0 5px 15px rgb(0, 0, 0, 0.25);
    border-radius: 5px;
    padding: 10px;
    overflow-y: scroll;
  }
  #createGroup .formLogo{
    display: flex;
    background: #002f4b;
    color: #fff;
    padding: 10px;
  }
  #createGroup .formLabel {
    display: flex;
  }
  #createGroup .formGroup {
    display: flex;
    justify-content: center;
    margin: 20px;
  }
  #createGroup input {
    width: 785px;
    padding: 0 20px;
    line-height: 50px;
    font-size: 15px;
    height: 50px;
    border: 1px solid #e6e6e6;
    border-bottom-width: 3px;
  }
  #createGroup .submitForm {
    display: flex;
    justify-content: center;
  }
  #createGroup .submitForm button {
    color: #fdf9f8;
    border: 2px solid #FF6D00;
    background: #FF6D00;
    width: 200px;
    padding: 10px 0;
    margin: 10px;
    margin-bottom: 0px;
    transition: all 0.5s ease-in-out;
  }
  #createGroup .submitForm button:hover{
    background: #002f4b;
    transform: scale(0.9, 0.9);
  }
  #inboxMessage{
    display: none;
    margin: 5px 0px 0px 186px;
  }
  #inboxMessage .container .card{
    display: flex;
    flex-direction: column;
    padding: 10px;
    line-height: 30px;
    border: 1px solid #e6e6e6;
    border-bottom-width: 3px;
  }
  #inboxMessage .container .card .user .name{
    font-weight: bold;
  }
  @media (max-width: 750px) {  
    #headerProfile .bars,  
    #header .bars {
        flex: 0.8;
    }
    #sidenav {
      width: 0px;
    }
    #state{
      margin: 50px 0px 0px 0px;
    }
    #group {
      margin: 5px;
    }
    #group li .icon{
      margin: 5px;
      padding: 12px;
    }
    #inboxMessage{
      margin: 70px 0px;
    }
    #profile {
      margin: 60px 10px;
    }
    #createGroup{
      width: 300px;
      height: 350px;
    }
    #text{
      width: 300px;
      height: 400px;
    }
  }
  